@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-family: "Nunito Sans", sans-serif;
}
:root {
  --color-primary: #745bb3;
  --color-white: #fff;
  --color-secondary: #343a40;
  --color-grey: #717579;
  --color-primary-tint1: #f6f3ff;
  --color-primary-tint2: #dbcdff;
  --color-primary-tint3: #f6f3ff;
  --color-primary-shade1: #a682ff;
  --color-primary-shade2: #644e99;
}
.btn {
  font-weight: 600;
  font-size: 2rem;
  border-radius: 0.8rem;
  padding: 10px 12px;
  border: none;
  cursor: pointer;
  background-color: var(--color-primary);
  color: var(--color-white);
}
.container {
  max-width: 120rem;
  margin: 0 auto;
}
.sub-hero-heading {
  color: var(--color-primary);
  font-size: 1.8rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-bottom: 0.8rem;
  font-weight: 800;
}
.sub-hero-heading-wrapper {
  font-size: 5rem;
  line-height: 1.2rem;
  margin-bottom: 8rem;
  font-weight: 800;
  letter-spacing: -0.75px;
  color: var(--color-secondary);
}
.smart-wrapper {
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.6;
  color: var(--color-secondary);
}
.service-section-heading {
  font-size: 3rem;
  font-weight: 800;
  line-height: 1;
  margin-bottom: 3.2rem;
}
