@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-family: "Nunito Sans", sans-serif;
  background-color: #f6f3ff;
}
:root {
  --color-primary: #745bb3;
  --color-white: #fff;
  --color-secondary: #343a40;
  --color-grey: #717579;
  --color-primary-tint1: #f6f3ff;
  --color-primary-tint2: #dbcdff;
  --color-primary-tint3: #f6f3ff;
  --color-primary-shade1: #a682ff;
  --color-primary-shade2: #644e99;
}
.btn {
  font-weight: 600;
  font-size: 2rem;
  border-radius: 0.8rem;
  padding: 10px 12px;
  border: none;
  cursor: pointer;
  background-color: var(--color-primary);
  color: var(--color-white);
}
.container {
  max-width: 120rem;
  margin: 0 auto;
}
