.features-section {
  margin-bottom: 10rem;
}
.features-heading {
  margin-top: 3rem;
  margin-bottom: 10rem;
}
.feature-list {
  display: flex;
  align-items: center;
  gap: 2rem;
}
.features-icon {
  font-size: 3rem;
  margin-top: 0.8rem;
  color: var(--color-primary);
}
.features-text-para {
  margin-top: 2rem;
  margin-left: 5rem;
}
.features-wrapper {
  display: flex;
  justify-content: space-between;
}
.features-second-wrappers {
  margin-top: 10rem;
  display: flex;
  justify-content: space-between;
  gap: 17rem;
}
.adivice-section {
  margin-top: 10rem;
  margin-bottom: 15rem;
}
.costumer-advice-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--color-primary);
  border-radius: 1.5rem;
  padding: 6rem;
}
.number-section {
  font-size: 5rem;
  font-weight: 800;
  color: var(--color-white);
  text-align: center;
  letter-spacing: 1;
}
.advice-para {
  font-size: 2rem;
  font-weight: 600;
  margin-top: 1rem;
  color: var(--color-white);
}
